* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "MyCustomFont";
}

@font-face {
  font-family: "MyCustomFont";
  src: url("../fonts/Fontspring-DEMO-cerapro-medium.otf") format("woff2"),
    url("../fonts/Fontspring-DEMO-cerapro-light.otf") format("woff"),
    url("../fonts/Fontspring-DEMO-cerapro-medium.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container {
  max-width: 1920px;
  margin-left: 50px;
  margin-right: 50px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
  padding: 15px 0;

  .logo {
    flex-grow: 1;
    text-align: center;

    a {
      display: flex;
      align-items: center;
      gap: 5.68px;
      cursor: pointer;
      text-decoration: none;
    }

    h3 {
      color: rgba(70, 163, 88, 1);
    }
  }
}

nav {
  padding: 26px 15px;

  .nav-menu {
    display: flex;
    gap: 50px;

    li {
      list-style-type: none;
      position: relative;
      display: flex;
      flex-direction: column;
      bottom: 0;

      a {
        text-decoration: none;
        color: rgba(61, 61, 61, 1);
        padding: 10px 0;

        &:hover {
          font-weight: 700;
          transition: transform 0.3s ease;
        }

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -5px;
          width: 100%;
          height: 3px;
          background-color: green;
          transform: scaleX(0);
          transition: transform 0.3s ease;
        }

        &:hover::after {
          transform: scaleX(1);
        }
      }
    }
  }
}

.header-caterogies {
  display: flex;
  align-items: center;
  gap: 20px;

  img {
    cursor: pointer;
  }
  .LoginBtn {
    width: 100px;
    height: 35px;
    border-radius: 6px;
    background: rgba(70, 163, 88, 1);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;

    p {
      color: #ffffff;
      font-family: MyCustomFont;
    }
  }
}

/* 830px dan kichik ekranlar uchun */
@media (max-width: 830px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }

  header {
    padding: 15px 15px;
    align-items: center;

    .logo {
      a {
        align-items: center;
      }

      h3 {
        font-size: 1.5rem; /* Logo matnining o'lchamini kichraytirish */
      }
    }

    nav {
      width: 50%;
      border-radius: 20px;
      .nav-menu {
        flex-direction: column;
        gap: 20px; /* Menyular orasidagi masofani kichraytirish */
        li {
          a {
            font-size: 1rem; /* Menyu elementlarini kichikroq qilish */
          }
        }
      }
    }

    .header-caterogies {
      gap: 10px; /* Icon va tugmalar orasidagi masofani kamaytirish */

      img {
        width: 20px; /* Iconlarni kichraytirish */
        height: 20px;
      }

      .LoginBtn {
        width: 80px;
        height: 30px;

        p {
          font-size: 0.9rem;
        }
      }
    }
  }
}

.menu-icon {
  position: absolute; // Sahifaning chap yuqori qismida joylashishi uchun
  top: 9px;
  right: 15px;
  display: none; // 830px dan katta ekranlarda ko'rsatmaymiz
  padding: 7px;
  border-radius: 14px;
  box-shadow: 0px 10px 20px 0px rgba(70, 163, 88, 0.3);
  background: linear-gradient(
    137.05deg,
    rgba(70, 163, 88, 0.45) -24.6%,
    #46a358 100%
  );

  img {
    width: 30px; // Menyu ikonasi o'lchami
    height: 30px;
    cursor: pointer; // Bosilganda ko'rsatiladigan kursor
  }
}

// 830px dan kichik ekranlar uchun
@media (max-width: 830px) {
  .menu-icon {
    display: block; // Menyu ikonasi faqat kichik ekranlarda ko'rsatiladi
  }

  nav {
    display: flex;
    align-items: start;
    position: absolute; // Menyu sahifadan ajralib turishi uchun
    top: 72px; // Yuqoridan masofa
    left: 8px; // Chapdan masofa
    background-color: rgba(255, 255, 255, 0.486); // Menyu orqa fon rangi
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); // Menyu uchun soyali effekt
    opacity: 0; // Dastlab ko'rinmaydi
    transform: translateX(-100%); // Menyu chapga siqilgan ko'rinishda
    transition: opacity 0.3s ease, transform 0.3s ease; // Animatsiya uchun o'zgarishlar
    z-index: 999; // Menyu barcha elementlardan yuqorida bo'lishi uchun
    backdrop-filter: blur(5px);
  }

  .nav-menu {
    display: flex; // Menyu ko'rsatiladi
    flex-direction: column; // Menyu vertikal yo'nalishda
    gap: 20px; // Menyu elementlari orasidagi masofa

    li {
      list-style-type: none;

      a {
        text-decoration: none;
        color: rgba(61, 61, 61, 1);
        padding: 10px 0;

        &:hover {
          font-weight: 700;
          transition: transform 0.3s ease;
        }
      }
    }
  }

  // Menyu ko'rsatish holati
  nav.active {
    opacity: 1; // Menyu ko'rinadi
    transform: translateX(0); // Menyu joyida
  }
}
