div {
  section {
    .container {
      .home-span {
        display: flex;
        gap: 15px;
        padding-top: 36px;
        a {
          text-decoration: none;
          color: rgba(61, 61, 61, 1);
          transition: 1s;
        }
        a:hover {
          color: rgb(0, 0, 0);
          transform: scale(1.2);
        }
      }
      .section-fon {
        display: flex;
        gap: 52px;
        .section-left {
          display: flex;
          gap: 29px;
          margin-top: 43px;
          .imgs {
            width: 100px;
            height: 100px;
            background-color: #fafafa;
            display: flex;
            margin: 13px 0;
            border-radius: 6px;

            img {
              mix-blend-mode: multiply;
            }
          }
          .about-img-right {
            width: 444px;
            height: 444px;
            background-color: #fafafa;
            border-radius: 6px;
            margin-top: 13px;
            .serch {
              display: flex;
              justify-content: end;
              padding: 19px 19px 0 0;
            }
            .img-fonname {
              display: flex;
              justify-content: center;
              img {
                mix-blend-mode: multiply;
              }
            }
          }
        }
        .section-right {
          margin-top: 60px;
          h1 {
            font-size: 28px;
            font-weight: 700;
            line-height: 16px;
            text-align: left;
          }
        }
      }
    }
  }
}
